import { TestBed } from '@angular/core/testing';

import { <%= classify(name) %>Gateway } from './<%= dasherize(name) %>.gateway';

describe('<%= classify(name) %>Gateway', () => {
  let gateway: <%= classify(name) %>Gateway;

  beforeEach(() => {
    TestBed.configureTestingModule({});
    gateway = TestBed.inject(<%= classify(name) %>Gateway);
  });

  it('should be created', () => {
    expect(gateway).toBeTruthy();
  });
});