import { TestBed } from '@angular/core/testing';

import { <%= classify(name) %>Usecase } from './<%= dasherize(name) %>.usecase';

describe('<%= classify(name) %>Usecase', () => {
  let usecase: <%= classify(name) %>Usecase;

  beforeEach(() => {
    TestBed.configureTestingModule({});
    usecase = TestBed.inject(<%= classify(name) %>Usecase);
  });

  it('should be created', () => {
    expect(usecase).toBeTruthy();
  });
});