import { TestBed } from '@angular/core/testing';
import { <%= classify(name) %>Query } from './<%= dasherize(name) %>.query';

describe('<%= classify(name) %>Query', () => {
  let query: <%= classify(name) %>Query;

  beforeEach(() => {
    TestBed.configureTestingModule({});
    query = TestBed.inject(<%= classify(name) %>Query);
  });

  it('should be created', () => {
    expect(query).toBeTruthy();
  });
});
