import { TestBed } from '@angular/core/testing';

import { <%= classify(name) %>Repository } from './<%= dasherize(name) %>.repository';

describe('<%= classify(name) %>Repository', () => {
  let repository: <%= classify(name) %>Repository;

  beforeEach(() => {
    TestBed.configureTestingModule({});
    repository = TestBed.inject(<%= classify(name) %>Repository);
  });

  it('should be created', () => {
    expect(repository).toBeTruthy();
  });
});